.LogoFluminense{
    background-color: black;
}

#dov{
    display: flex;
    justify-content: center;
}

body{
    background-color: #7ca9bf;
    font-family: Verdana;
    font-size: 100%;
    text-align: center;
}