.cabecalho{
    background-color: #236A8D;
}

.cabecalho-imagem {
 height: 20%;
}

#dov{
    display: flex;
    justify-content: center;
}

body{
    background-color: #7ca9bf;
}

.ImagensBotao{
    align-items: center;
    justify-content: center;
}
